logout: "Odhlásit se"
signUp: "Registrace"
login: "Přihlásit se"
homepage: "Úvod"
newArticles: "Nové články"
categoriesManage: "Správa kategorií"
usersManage: "Správa uživatelů"
form: "Formulář"
myArticles: "Mé články"
createArticle: "Přidat článek"
settings: "Nastavení"
categoriesList: "Všechny články"