{* This is the welcome page, you can delete it *}

{block content}
{control registrationForm}
{/block}

{block scripts}
{include parent}

{/block}


{block head}
<style>
    
</style>
{/block}
